<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @property.note %>
</p>

<% if false %>

<p id="notice"><%= notice %></p>


<p>
  <strong>Line:</strong>
  <%= @property.nearest_stations.line %>
</p>



<p>
  <strong>Station:</strong>
  <%= @property.station %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @property.nearest_stations.duration %>
</p>

<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
